.container {
  display: block;
}

.container > div {
  flex: 0 1 50%;
}

body {
    background-color: black;
}

#heading {
width: 100vh;
height: 40px;
background-color: red;
margin-bottom: 5px;

}

#container > div {
  width: 125px;
  height: 125px;
  border: 2px solid red;
}

.div-table {
  display: table;
  width: auto;
  background-color: black;
  border-spacing: 5px;
  margin-top: 5px;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left;
  display: table-column;
  width: 69.5px;
  background-color: red;
}

#backstory {
  width: 300px;
  height: 200px;
  border: 2px solid red;
  background-color: red;
  font-size: 16.5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

#htp {
  width: 365px;
  height: 200px;
  border: 2px solid red;
  background-color: red;
  font-size: 16.5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#img {
  width: 125px;
  height: 125px;
  border: 2px solid red;

}

#text {
  display: flex;
}

#img2 {
  display: inline;
  margin-left: 5px;
  width: 40px;
  height: 40px;
}

#in {
  font-size: 11.5px;
  background-color: red;
}

#items {
  width: 436px;
  height: 204px;
  background-color: red;
}

#vid {
  display: inline;
}

@media screen and (max-width: 500px) {
.div-table-row {
  display: none;
}

#text {
  display: block;
}

#containerfull {
  margin: 0 auto;
}
  
  #backstory {
  width: 300px;
  height: 220px;
  border: 2px solid red;
  background-color: red;
  font-size: 16.5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

#htp {
  width: 365px;
  height: 220px;
  border: 2px solid red;
  background-color: red;
  font-size: 16.5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
}
